# Create a database, store your interesting movie names with the names of lead actor, actress, year of release and the director name. Once you have stored the details, then use any programming language of your choice to retrieve the details

# It uses MySQL database that is stored on phpMyAdmin, choice of language is Python.

In [31]:
#Connect to database
import mysql.connector
mysql = mysql.connector.connect(
    host="localhost",
    username="root",
    password="",
    )

In [14]:
#Create a databse
mycursor=mysql.cursor()
mycursor.execute("create database magical")
x=mycursor.execute("use magical")

In [4]:
#Create a table
mycursor=mysql.cursor()
mycursor.execute("CREATE TABLE Movies ( MOVIE_NAME VARCHAR(40), ACTOR VARCHAR(40), ACTRESS VARCHAR(40), YOR INT, DIRECTOR VARCHAR(40))")

In [6]:
#Inserting sample data
mycursor=mysql.cursor()
mycursor.execute("INSERT INTO Movies VALUES ('Harry Potter and the Goblet of Fire', 'Daniel Radcliffe', 'Emma Watson', 2005, 'David Yates')")

In [32]:
#Insert data into the table but dynamic
mycursor=mysql.cursor()
a=input("Movie: ")
b=input("Actor: ")
c=input("Actress: ")
d=int(input("Year of Release: "))
e=input("Director: ")
sql="INSERT INTO Movies(MOVIE_NAME, ACTOR, ACTRESS, YOR, DIRECTOR) VALUES (%s,%s,%s,%s,%s)"
val=(a,b,c,d,e)
mycursor.execute(sql,val)
mysql.commit()

Movie: The Half of It
Actor: Daniel Diemer
Actress: Leah Lewis
Year of Release: 2020
Director: Alice Wu
Harry Potter and the Goblet of Fire Daniel Radcliffe Emma Watson 2005 David Yates
Harry Potter and the Goblet of Fire Daniel Radcliffe Emma Watson 2005 David Yates
The Half of It Daniel Diemer Leah Lewis 2020 Alice Wu

In [52]:
#Querying data from movies table
mycursor.execute("select distinct * from MOVIES")
myresult=mycursor.fetchall()
for x in myresult:
    print(x)

('Harry Potter and the Goblet of Fire', 'Daniel Radcliffe', 'Emma Watson', 2005, 'David Yates')
('The Half of It', 'Daniel Diemer', 'Leah Lewis', 2020, 'Alice Wu')

In [53]:
#Querying data where actor name is the following
x=input("Actor: ")
sql = "SELECT DISTINCT * FROM MOVIES WHERE ACTOR = %s"
adr = (x, )
mycursor.execute(sql, adr)
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

Actor: Daniel Radcliffe
('Harry Potter and the Goblet of Fire', 'Daniel Radcliffe', 'Emma Watson', 2005, 'David Yates')